.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  transition: 1s;
  margin: 10px;
}

.calculatorSection {
  flex-grow: 0;
}
