.currency {
  font-size: 25px;
  /* TODO Styles: static cursor not pointer */
  cursor: pointer;
  padding: 0 6px;
  user-select: none;
}

.inactive {
  color: rgba(255, 255, 255, 0.3);
  font-size: 50%;
}

.AUD {
  color: rgb(11, 220, 0);
}

.TWD {
  color: #0076b6;
}

.MYR {
  color: #ffd900;
}

.HKD {
  color: rgb(236, 0, 0);
}
